*{
  padding:0;
  margin:0;
}
.section{
  width:100%;
  height:100vh;
  background-color: #ccc;
  color:black;

}

header {
  height : 70px;
  border-bottom:1px solid black;
  background-color: white;
}

h1{
  font-size: 16px;
  font-weight: 700;
}
h2{
  font-size: 14px;
  font-weight: 700;
}
h3{
  font-size: 14px;
  font-weight: 500;
}
h4{
  font-size:12px;
  font-weight: 500;
}
h5{
  font-size:10px;
  font-weight: 500;
}
.flex {
  display:flex;
}
ul li {
  list-style: none;
}
.contents{
  border:1px solid gray;
  padding:10px;
  border-radius: 10px;
  margin:10px;
  background-color: white;
}
.flex h4 {
  width:44px;
}
.flex h5{
  width:50%
}

button{
  width:100px;
  height:30px;
  padding:3px 8px;
  font-size: 9px;
  font-weight: 500;
}

.between{
  justify-content: space-between
}